<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.potato">

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:replace="android:theme">
        <activity
            android:name=".activity.EveryDayMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeThemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeCityActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.AddSecretActivity"></activity>
    </application>

</manifest>