<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.potato">

    <application>
        <activity
            android:name=".activity.EveryDayMainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HistoryDetailedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeThemeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChangeCityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AddSecretActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>